html {
  margin: 0;
  min-height: 100%;
}

body {
  margin: 0%;
}
.backgroundContainer {
  position: fixed;
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.backgroundImg {
  position: fixed;
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.topBar {
  display: flex;
  width: 100%;
  height: 50px;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(234, 102, 159);
  text-decoration: none;
  position: fixed;
  top: 0%;
  z-index: 9;
}
.leftSideContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.flagContainer {
  display: flex;
  align-items: center;
}
.flagImg {
  width: 60px;
  height: 40px;
  display: flex;
  align-items: center;
}
.marocBarButton {
  display: flex;
  align-items: center;
}
.marocBarButton {
  align-items: center;
  display: flex;
}
.rightSideContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.b1BannerContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  position: relative;
  object-fit: cover;
  width: 90%;
  left: 5%;
  height: 400px;
  background-color: rgb(234, 102, 159);
  text-align: center;
  bottom: -400px;
}
.headingb1BannerContainer {
  display: flex;
  width: 100%;
  height: 100px;
  align-items: center;
  align-self: center;
  justify-content: space-evenly;
}
.contentb1BannerContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.rabatb1Container {
  display: flex;
}
.rabatb1img {
  width: 400px;
  height: 250px;
}
.tangierb1Container {
  display: flex;
}
.tangierb1img {
  width: 400px;
  height: 250px;
}
.casab1Container {
  display: flex;
}
.casab1img {
  width: 400px;
  height: 250px;
}
.khemissetb1Container {
  display: flex;
}
.khemissetb1img {
  width: 400px;
  height: 250px;
}
